<h1>All Residents</h1>
<% @residents.each do |res| %>
<p>Name: <%= res.name %></p>
<p>Age: <%= res.age %></p>
<p>Occupation: <%= res.occupation %></p>
<% end %>

<h3>Average Age of Residents</h3>
<%= @age %>